<div class="explore-sect m-4" *rxIf="!schedule">
  <h3>Create event</h3>
  <mat-card>
    <mat-card-content >Please, drag marker
      <mat-icon>place</mat-icon>
      to set place.
    </mat-card-content>
  </mat-card>
  <mat-form-field class="custom-input mt-4" appearance="outline" disabled="true">
    <mat-label>Address</mat-label>
    <input class="custom-input" type="email" matInput color="primary" name="email" disabled="true"
           [ngModel]="address['title']">
  </mat-form-field>
  <form class="login-form" [formGroup]="addEventForm">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="description"
                      matInput> </textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="outline">
            <mat-label>Scheduled at</mat-label>
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                   formControlName="scheduledAt">
            <mat-datepicker-toggle matIconSuffix [for]="$any(picker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker>
            </ngx-mat-datetime-picker>
            <mat-error *rxIf="f?.['scheduledAt']?.errors">InvalidscheduledAt</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="custom-input" appearance="outline">
            <mat-label>Fee</mat-label>
            <input formControlName="fee" class="custom-input number-input" type="number" matInput color="primary"
                   name="fee" min="0">
            <mat-error *rxIf="f?.['fee']?.errors">Invalid fee</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field class="custom-input" appearance="outline">
            <mat-label>Duration</mat-label>
            <input formControlName="duration" class="custom-input number-input" type="number" matInput color="primary"
                   name="fee" min="1">
            <mat-error *rxIf="f?.['duration']?.errors">Invalid duration</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="custom-input" appearance="outline">
            <mat-label>Places Number</mat-label>
            <input formControlName="placesNumber" class="custom-input number-input" type="number" matInput
                   color="primary"
                   name="placesNumber" min="1">
            <mat-error *rxIf="f?.['placesNumber']?.errors">Invalid duration</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="example-chip-list" appearance="outline">
            <mat-label>Tags</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter tags" formControlName="tags">
              <mat-chip-row *rxFor="let tag of f?.['tags']?.value"
                            [editable]="true"
                            (edited)="editTag(tag, $event)"
                            (removed)="removeTag(tag)"
                            [aria-description]="'press enter to edit ' + tag">
                {{tag}}
                <button matChipRemove [attr.aria-label]="'remove ' + tag">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="New tag..."
                     [formControl]="tagCtrl"
                     [matAutocomplete]="auto"
                     [matChipInputFor]="chipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addTag($event)"
                     [matChipInputAddOnBlur]="false"
              />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
                <mat-option *rxFor="let option of filteredTags | async " [value]="option.name">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-chip-grid>
          </mat-form-field>
        </div>
      </div>
      <button mat-flat-button color="primary" class="submit-but" (click)="createEvent()">Create</button>
    </div>
  </form>
</div>
<app-event-detail *rxIf="schedule" [schedule]="schedule"></app-event-detail>
