.navbar-custom{
    background-color: #1F271B;
  }
  .navbar-custom .nav-link,
  .navbar-custom .navbar-text {
    color: white;
  }
button[mat-mini-fab]{
  color:white;
  top:0.5em;
  border: 2px solid white !important;
  width:40px;
  height:40px;
}

img.logo{
  width: 120px;
  height: auto;
}

.logout{
  width:40px;
  height:40px;
}
